* {
    margin: 25px;
    font-family: monospace, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    /* margin: auto; */
  }

body {
    padding: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://www.seriouseats.com/thmb/CapRohi9IrrbOwYZoKV63zogerM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__04__20150323-cocktails-vicky-wasik-margarita-c84b154e757d43688de15dc8f8ca0de9.jpg");
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} 

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

button {
    background-color:#04AA6D;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
}

#top-container {
    display: flex;
    margin: 1rem 0;
    padding: 10px;
    overflow-x: auto;
}
#top-container img {
    margin: 10px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#margarita-details {
    margin: 25px;
    padding: 25px;
    width: 100%;
    position: relative;
}
#background-of-details {
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#margarita-details h3, ul, p {
margin: 25px, 400px;
opacity: 1;
position: relative;
}
#margarita-details .name {
    margin: 20px;
    position: relative;
}

#margarita-details img {
   height: 400px; 
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   position: relative;
}

.onMouseover {
    cursor: pointer;
}

#add-new-marg {
    margin: 20px;
    font-size: medium;
}

#new-marg {
    margin: 1rem 0;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
  }

textarea {
    resize: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
 
}

input[type =submit] {
background-color: #04AA6D;
color: white
}

input {
  border-radius: 10px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


